* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  color: white;
}
*::-webkit-scrollbar {
  display: none;
}
body {
  height: 100%;
  margin: 0;
}
.main {
  width: 100vw;
  height: 100vh;
  background-color: rgb(30, 30, 30);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.hero {
  width: 40vw;
  height: 25vh;
  border: 2px solid rgb(30, 30, 30);
  border-radius: 20px;
  background-color: rgba(70, 70, 70, 0.249);
  display: flex;
  gap: 25%;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  outline: 2px solid rgba(255, 255, 255, 0.249);
}

.add {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 2px solid white; */
}
.add button {
  padding: 7px 15px;
  background-color: blue;
  outline: none;
  border: none;
  border-radius: 5px;
}
.add input {
  display: block;
  border: none;
  outline: none;
  height: 100%;
  width: 70%;
  border-radius: 5px;
  padding: 3px;
  padding-left: 10px;
  color: white;
  background-color: rgba(131, 129, 129, 0.249);
}
.add input::placeholder {
  color: rgb(123, 121, 121);
}

.show {
  width: 60vw;
  height: 30vh;
  border: 2px solid white;

  padding: 10px;
  background-color: rgba(70, 70, 70, 0.249);
  border-radius: 20px;
  outline: 2px solid rgba(255, 255, 255, 0.249);
  border: 2px solid rgb(30, 30, 30);

  overflow: scroll;
}

.show .todo {
  margin: auto;
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 25px;
  background-color: rgb(30, 30, 30);
  border-radius: 15px;
}
.show .todo button {
  background-color: red;
  padding: 5px 15px;
  border: none;
  outline: none;
  border-radius: 5px;
}

.strike {
  text-decoration: line-through;
}
