* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  color: white;
}
* ::-webkit-scrollbar {
  display: none;
}
.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(0, 0, 0);
}
.products,
.your-cart {
  width: 40%;
  height: 90%;
  background-color: rgba(105, 105, 105, 0.354);
  border-radius: 20px;
  border: 2px solid black;
  outline: 2px solid rgba(105, 105, 105, 0.354);
  overflow: hidden;
}

/* products css */

.products h2 {
  width: 100%;
  height: 13%;
  display: flex;

  justify-content: center;
  align-items: center;
}
.add-product {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  gap: 10%;
  align-items: center;
  margin-bottom: 2%;
}
.products-list {
  width: 100%;
  height: 75%;
  display: flex;
  flex-direction: column;

  align-items: center;
  overflow: scroll;
}
.add-product button {
  padding: 7px 20px;
  color: white;
  font-weight: bold;
  background-color: blue;
  border: none;
  outline: none;
  border-radius: 5px;
}
.add-product .input {
  width: 70%;
  height: 90%;
  display: flex;
  flex-direction: column;
  gap: 10%;
}
.add-product .input input {
  width: 100%;
  height: 45%;
  padding-left: 10px;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: rgb(29, 28, 28);
}
.item {
  width: 95%;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  background-color: rgb(29, 28, 28);
  margin-bottom: 2%;
}
.item p {
  font-size: 0.8rem;
  width: 50%;
}
.item button {
  padding: 5px 15px;
  background-color: blue;
  border: none;
  outline: none;
  border-radius: 5px;
}

/* cart css */
.cart-header {
  display: flex;
  width: 100%;
  height: 13%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 7%;
  color: white;
}

#remove-all {
  padding: 7px 10px;
  outline: none;
  border: none;
  background-color: blue;
  color: white;
  font-weight: bold;
  border-radius: 5px;
}
.cart-list {
  width: 100%;
  height: 75%;
  display: flex;
  flex-direction: column;

  align-items: center;
  overflow: scroll;
}
.cart-item-text {
  width: 50%;
}
.cart-item-text p {
  width: 100%;
}
.cart-value {
  width: 100%;
  display: flex;
  height: 12%;
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 30px;
  background-color: rgb(29, 28, 28);
}
